@import '../../node_modules/semantic-ui-reset/reset.css';
@import '../../node_modules/semantic-ui-site/site.css';

body {
    display: flex;
    flex-direction: column;
    font-family: "Trebuchet MS", Verdana, Arial, sans-serif;
}
